:root{
    --color1: #ffffff;
    --color2: #000000;
    --color3: #F0F3F5;

    --fuente1: "Raleway", sans-serif;
    --fuente2: "Quicksand", sans-serif;
}
/* *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} */
html{
    font-size: 16px;
}
.container{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 300px; 
}

i{
    color: #6a788d;
}